/* General */
body {
    font-family: Arial, sans-serif;
}

h2, h3 {
    margin: 0;
    padding: 0;
}

.titulo-categoria {
    margin: 10px;
    font-size: 25px;
    font-family: "Angel Club";
}

/* Botones */
.boton-crear, .boton-regresar, .boton-actualizar, .boton-eliminar {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: color 0.4s ease;
}

.boton-crear::before, .boton-regresar::before, .boton-actualizar::before, .boton-eliminar::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transition: transform 0.5s ease;
    z-index: 0;
}

.boton-crear span, .boton-regresar span, .boton-actualizar span, .boton-eliminar span {
    position: relative;
    z-index: 1;
}

.boton-crear {
    background-color: #59C241;
    color: black;
    width: 140px;
    border: 1px solid black;
    font-size: 20px;
    margin-right: 10px; /* Añadir espacio entre los botones */
}

.boton-crear::before {
    background: #ff8c00; /* Naranja de énfasis */
}

.boton-crear:hover::before {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

.boton-crear:hover {
    color: white;
    cursor: pointer;
}

.boton-regresar {
    background-color: #FFC000;
    color: black;
    height: 30px;
    width: 140px;
    border: 1px solid black;
    font-size: 18px;
}

.boton-regresar::before {
    background: #1f65b7; /* Azul de énfasis */
}

.boton-regresar:hover::before {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

.boton-regresar:hover {
    color: white;
    cursor: pointer;
}

.boton-actualizar {
    background-color: #F6F88E;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid black;
}

.boton-actualizar::before {
    background: #ff69b4; /* Rosado de énfasis */
}

.boton-actualizar:hover::before {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

.boton-actualizar:hover {
    color: white;
    cursor: pointer;
}

.boton-eliminar {
    background-color: #FF0000;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid black;
}

.boton-eliminar::before {
    background: #9370db; /* Morado de énfasis */
}

.boton-eliminar:hover::before {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

.boton-eliminar:hover {
    color: white;
    cursor: pointer;
}

.contenedor-regresar {
    width: calc(100% - 20px);
    display: flex;
    justify-content: flex-end; /* Alinea el botón a la derecha */
    margin: 10px;
    box-sizing: border-box;
}

.contenedor-recuadros {
    width: calc(100% - 20px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    box-sizing: border-box;
}

.recuadro-movimiento {
    width: calc(30% - 20px);
    min-height: 300px;
    margin: 10px;
    background-color: #D9D9D9;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
}

.titulo-movimiento {
    font-size: 27px;
    font-family: "Berlin Sans FB";
}

.subtitulo-categorias-actuales {
    font-size: 20px;
    font-weight: bold;
}

.contenedor-tabla-categorias {
    width: calc(100% - 20px);
    margin: 10px;
    box-sizing: border-box;
}

.contenedor-tabla-categorias table {
    width: 100%;
    border-collapse: collapse;
}

.contenedor-tabla-categorias th {
    background-color: #2977BD;
    color: white;
    font-size: 20px;
    border: 1px solid black;
}

.contenedor-tabla-categorias td {
    font-size: 20px;
    border: 1px solid black;
    background-color: white;
    padding: 0;
}

.acciones {
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid black;
}

.modal-contenido {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-botones {
    margin-top: 20px;
}

.modal-botones button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #FFC000;
    color: #000000;
    font-size: 16px;
}

.modal-botones button:hover {
    background-color: #f5a500;
}

.modal-botones #btnNo {
    background-color: #6c757d;
}

.modal-botones #btnNo:hover {
    background-color: #5a6268;
}