/* General */
body {
    font-family: Arial, sans-serif;
}

header {
    margin: 0;
    padding: 0;
    background-color: #2977BD;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: row;
    margin-top: 80px;
    font-family: Arial, sans-serif;
}

h1, h2 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

@font-face {
    font-family: 'Angel Club';
    src: url('../fonts/Angel Club - (Demo) hanscostudio.com.ttf');
}

.font-angel {
    font-family: 'Angel Club';
}

.titulo-ajustes {
    margin: 10px 20px;
    font-size: 30px;
    color: #ffffff;
    font-family: 'Angel Club';
}

.titulo-ajustes h1 {
    font-family: "Angel Club";
    text-decoration: none;
    color: white;
}

.barra-ajustes {
    background-color: #D9D9D9;
    height: 100vh;
    width: 15%;
    flex-shrink: 0;
    box-sizing: border-box;
}

.boton-cuenta, .boton-categoria {
    background-color: #5B5B5B;
    color: white;
    border: 1px solid #5B5B5B;
    text-align: center;
    height: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Angel Club";
}

.boton-cuenta:hover, .boton-categoria:hover {
    background-color: #FFC000;
    cursor: pointer;
}

.boton-cuenta.active, .boton-categoria.active {
    background-color: #FFC000;
    color: black;
    cursor: default;
}

.contenedor-dinamico {
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
}

.contenedor-regresar {
    width: 100%;
    height: 9%;
    margin: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.boton-regresar {
    background-color: #FFC000;
    color: black;
    height: 40px;
    width: 140px;
    border: 1px solid black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.boton-regresar:hover {
    background-color: #f5a500;
    cursor: pointer;
}

/* Estilos para la tabla */
.table-cuentas {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-cuentas th, .table-cuentas td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

.table-cuentas th {
    background-color: #2977BD;
    color: white;
    font-size: 18px;
}

.table-cuentas td {
    background-color: #ffffff;
    font-size: 16px;
}

.table-cuentas .acciones {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 0;
}

.table-cuentas .acciones button {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
    align-items: center;
}

.table-cuentas .acciones .actualizar {
    background-color: #F6F88E;
    color: black;
}

.table-cuentas .acciones .actualizar:hover {
    background-color: #eef100;
}

.table-cuentas .acciones .eliminar {
    background-color: #FF7F7F;
    color: black;
}

.table-cuentas .acciones .eliminar:hover {
    background-color: #ff4c4c;
}

/* Botones Crear */
.boton-crear {
    background-color: #59C241;
    color: black;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

.boton-crear:hover {
    background-color: #4aae3f;
}

.subtitulo-cuentas-actuales {
    margin: 10px;
    font-size: 28px;
    font-family: "Angel Club";
}

.contenedor-tabla-cuentas {
    width: 100%;
    margin-top: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid black;
}

.modal-contenido {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-botones {
    margin-top: 20px;
}

.modal-botones button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #FFC000;
    color: #000000;
    font-size: 16px;
}

.modal-botones button:hover {
    background-color: #f5a500;
}

.modal-botones #btnNo {
    background-color: #6c757d;
}

.modal-botones #btnNo:hover {
    background-color: #5a6268;
}