* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Angel Club';
    src: url('../fonts/Angel Club - (Demo) hanscostudio.com.ttf');
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('../img/Fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: #000;
}

header {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 20px; 
    margin-top: 30px;
}

.titulo {
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-family: 'Angel Club';
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.formulario {
    width: 325px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.campos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.campo {
    display: flex;
    flex-direction: column;
}

.item-formulario,
.item-formulario1 {
    background-color: rgb(174, 171, 171);
    height: 40px;
    border-radius: 8px;
}

.item-formulario {
    width: 25%;
}

.item-formulario1 {
    width: 100%;
    display: flex;
    align-items: center; /* Asegura que el contenido esté centrado verticalmente */
}

.item-formulario1 input {
    width: 100%; /* Hace que el input ocupe todo el ancho del contenedor */
    height: 100%; /* Hace que el input ocupe toda la altura del contenedor */
    border: none;
    background: transparent;
    padding: 0 10px; /* Añade un pequeño padding interno */
    box-sizing: border-box;
    font-size: 16px; /* Ajusta el tamaño de la fuente según sea necesario */
    font-family: inherit; /* Hereda la fuente del contenedor */
}

.caja-nombre {
    margin-top: 10px;
}

.botones {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    margin-top: 25px;
}

button.btn {
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10px 0px 10px 0px; 
    cursor: pointer;
    font-size: 23px;
    width: 150px; 
    font-family: 'Angel Club';
    background-size: 200% 200%; 
    transition: background-position 0.5s ease; 
}

button.btn-guardar {
    background-image: linear-gradient(45deg, #20af2e 50%, #03751f 50%); 
}

button.btn-guardar:hover {
    animation: colorChange 2s ease infinite; 
}

button.btn-cancelar {
    background-image: linear-gradient(45deg, #e74c3c 50%, #c0392b 50%); 
}

button.btn-cancelar:hover {
    animation: colorChange 2s ease infinite; 
}

.negrita-negra {
    color: black;
    font-size: 23px;
    font-family: 'Angel Club';
}

@keyframes colorChange {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}