/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* Fuente general */
}

@font-face {
    font-family: 'Smothy Bubble';
    src: url('../fonts/Smothy\ Bubble\ -\ \(Demo\)\ hanscostudio.com.otf') format('opentype');
}

body {
    background: #f0f0f0; /* Fondo claro sin imagen */
    color: #000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Todos los elementos centrados verticalmente */
    background-color: #1f65b7;
    height: 60px;
    padding: 0 20px; /* Añadir algo de padding a los lados */
}

.titulo-ChW {
    font-family: 'Smothy Bubble', Arial, sans-serif;
    font-size: 36px; /* Tamaño de fuente más grande */
    color: white; /* Color del texto */
}

.opciones-header {
    display: flex;
    gap: 10px;
    align-items: center; /* Asegurar que los elementos dentro también estén centrados */
}

.cerrarSesion {
    background-color: #ffc107;
    border: none;
    padding: 8px 16px; /* Reducir el padding */
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    font-family: 'Arial Black', Gadget, sans-serif; /* Fuente más robusta */
    font-size: 14px; /* Reducir tamaño de fuente */
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease;
}

.cerrarSesion i {
    margin-right: 8px;
    transition: color 0.4s ease;
}

.cerrarSesion::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: #1f65b7;
    transition: transform 0.5s ease;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    z-index: 0;
}

.cerrarSesion:hover::before {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

.cerrarSesion:hover {
    color: white;
}

.cerrarSesion:hover i {
    color: white;
}

.cerrarSesion span {
    position: relative;
    z-index: 1;
}

.logoConfiguracion {
    font-size: 30px;
    background-color: #ffc107;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease;
}

.logoConfiguracion::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: #1f65b7;
    transition: transform 0.5s ease;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    z-index: 0;
}

.logoConfiguracion:hover::before {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

.logoConfiguracion:hover {
    color: white;
}

.logoConfiguracion span {
    position: relative;
    z-index: 1;
}

.container {
    width: 80%;
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff; /* Fondo blanco para la tabla */
    border: 1px solid #343a40; /* Bordes oscuros */
    border-radius: 8px; /* Bordes redondeados para un toque moderno */
    overflow: hidden; /* Para aplicar el borde redondeado a toda la tabla */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
}

th, td {
    border: 1px solid #343a40; /* Bordes oscuros */
    text-align: center;
    padding: 10px;
}

th {
    background-color: #1f65b7;
    color: #fff;
    font-weight: bold;
}

td {
    background-color: #fff; /* Fondo blanco para las celdas */
    color: #343a40; /* Texto oscuro para contraste */
}

.actions {
    display: flex;
    gap: 10px; /* Espacio entre las dos subcolumnas */
    padding: 0;
    margin: 0;
    border: 0px;
    height: 100%; /* Asegura que la altura ocupe toda la celda */
}

.actions-inspect {
    flex: 1; /* Asegura que ocupe el mismo espacio que la otra subcolumna */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el botón */
}

.actions-inspect button {
    background-color: #ffc107;
    border: 1px solid #ddd;
    padding: 5px;
    cursor: pointer;
    width: 100%;
    height: 100%; /* Asegura que ocupe toda la altura de la subcolumna */
    transition: color 0.4s ease;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    font-family: Arial, sans-serif; /* Asegura que use la misma fuente */
}

.actions-inspect button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800%; /* Tamaño de la animación ajustado */
    height: 800%; /* Tamaño de la animación ajustado */
    background: #1f65b7;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transition: transform 0.5s ease;
    z-index: 0;
}

.actions-inspect button:hover::before {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

.actions-inspect button:hover {
    color: white;
}

.actions-inspect button span {
    position: relative;
    z-index: 1;
}

.actions-group {
    flex: 1; /* Asegura que ocupe el mismo espacio que la otra subcolumna */
    display: flex;
    flex-direction: column;
    gap: 5px; /* Espacio entre los botones */
    font-family: Arial, sans-serif; /* Asegura que use la misma fuente */
}

.actions-group button {
    background-color: #ffc107;
    border: 1px solid #ddd;
    padding: 5px;
    cursor: pointer;
    width: 100%;
    transition: color 0.4s ease;
    position: relative;
    overflow: hidden;
    font-size: 15px;
    font-family: Arial, sans-serif; /* Asegura que use la misma fuente */
}

.actions-group button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800%; /* Tamaño de la animación ajustado */
    height: 800%; /* Tamaño de la animación ajustado */
    background: #1f65b7;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transition: transform 0.5s ease;
    z-index: 0;
}

.actions-group button:hover::before {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

.actions-group button:hover {
    color: white;
}

.actions-group button span {
    position: relative;
    z-index: 1;
}

.filtro-categorias {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 18px; /* Tamaño de fuente para las etiquetas */
    color: black; /* Color del texto */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.categorias-titulo {
    font-family: 'Smothy Bubble', Arial, sans-serif;
    font-size: 36px; /* Tamaño de fuente más grande */
    color: black; /* Color del texto */
}

.label-fecha {
    margin-right: 10px;
    font-weight: bold;
}

.input-fecha {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 20px;
}

.filtrar-Fecha, .borrar-Filtro {
    background-color: #ffc107;
    border: none;
    color: black;
    font-weight: bold;
    padding: 8px 16px; /* Reducir el padding */
    cursor: pointer;
    border-radius: 15px;
    font-family: 'Arial Black', Gadget, sans-serif; /* Fuente más robusta */
    font-size: 14px; /* Reducir tamaño de fuente */
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease;
}

.filtrar-Fecha::before, .borrar-Filtro::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: #1f65b7;
    transition: transform 0.5s ease;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    z-index: 0;
}

.filtrar-Fecha:hover::before, .borrar-Filtro:hover::before {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

.filtrar-Fecha:hover, .borrar-Filtro:hover {
    color: white;
}

.filtrar-Fecha span, .borrar-Filtro span {
    position: relative;
    z-index: 1;
}