* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Smothy Bubble';
    src: url('../fonts/Smothy\ Bubble\ -\ \(Demo\)\ hanscostudio.com.otf') format('opentype'); 
}

@font-face {
    font-family: 'Angel Club';
    src: url('../fonts/Angel Club - (Demo) hanscostudio.com.ttf');
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
		url('../img/Fondo.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
}
.main .transferencia {
    position: absolute;
    background-color: #ffffff;
    display: flex;
    width: 80%;
    height: auto;
    border-radius: 15px;
    flex-direction: column;
    padding: 20px;
}

.main .transferencia .titulo {
    font-family: 'Smothy Bubble', Arial, sans-serif; 
    font-size: 90px; 
    color: #ffc107; 
}

.main .transferencia .titulo img {
    width: 40%;
    padding: 50px 0px 0px 50px;
}

.main .transferencia .content {
    display: flex;
    height: 100%;
    margin-top: 30px;
}

.main .transferencia .left-side {
    display: flex;
    flex: 0.75;
}

.main .transferencia .left-side .ls-content {
    margin-left: 60px;
}

.main .transferencia .left-side .ls-content .cuenta {
    font-family: "Angel Club";
    font-size: 35px;
}

.main .transferencia .left-side .ls-content .formulario {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
    align-items: center;
    margin-top: 0px;
    font-weight : bold;
}

.main .transferencia .left-side .ls-content .formulario div {
    display: flex;
    padding-top: 20px;
    align-items: center;
}

.main .transferencia .left-side .ls-content .formulario label {
    padding-right: 10px;
}

.main .transferencia .left-side .ls-content .formulario input, .main .transferencia .left-side .ls-content .formulario select {
    display: flex;
    padding: 10px 8px 10px 10px;
    width: 300px;
    border-radius: 15px;
    background-color: #BEBBBB;
    border: none;
}
.main .transferencia .left-side .ls-content .formulario input:hover, .main .transferencia .left-side .ls-content .formulario select:hover {
    background-color: #bebbbbbb;
}

.main .transferencia .right-side {
    display: flex;
    flex: 0.25;
    justify-content: center;
}

.main .transferencia .saldo {
    font-family: "Angel Club"; 
    height: max-content;
    background-color: #ffcc00;
    padding: 20px 30px;
    border: none; 
    border-radius: 15px;
    font-size: 30px;
    animation: pulso 2s ease-in-out infinite; 
    animation-delay: 3s; 
}

.main .transferencia .botones {
    display: flex;
    padding: 0px 60px 40px 0px;
	margin-top: 30px;    
    gap: 20px; 
	flex-wrap: wrap;    
}

.main .transferencia .btn-guardar,
.main .transferencia .btn-cancelar {
    display: flex;
    align-items: center;
    padding: 10px 40px;
    border: none; 
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;
    max-width: 200px; 
    background-size: 200% 200%; 
    transition: background-position 0.5s ease; 
}

.main .transferencia .btn-guardar {
    background-image: linear-gradient(45deg, #59C241 50%, #48a034 50%); 
}

.main .transferencia .btn-cancelar {
    background-image: linear-gradient(45deg, #E74C3C 50%, #C0392B 50%); 
}

.main .transferencia .btn-guardar:hover,
.main .transferencia .btn-cancelar:hover {
    cursor: pointer;
    animation: colorChange 2s ease infinite; 
}

.main .transferencia .btn-guardar:hover {
    background-image: linear-gradient(45deg, #48a034 50%, #59C241 50%); 
}

.main .transferencia .btn-cancelar:hover {
    background-image: linear-gradient(45deg, #C0392B 50%, #E74C3C 50%); 
}

@keyframes pulso {
    0%, 100% {
        transform: scale(1); 
    }
    50% {
        transform: scale(1.1); 
    }
}

@keyframes colorChange {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}