body {
    font-family: Arial, sans-serif;
}

h2, h3 {
    margin: 0;
    padding: 0;
}

.titulo-categoria {
    margin: 10px;
    font-size: 25px;
    font-family: "Angel Club";
}

.contenedor-regresar {
    width: calc(100% - 20px);
    display: flex;
    justify-content: right;
    margin: 10px;
    box-sizing: border-box;
}

.boton-regresar {
    background-color: #FFC000;
    color: black;

    height: 30px;
    width: 140px;

    border: 1px solid black;

    font-size: 25px;
    font-weight: bold;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
}

.boton-regresar:hover {
    background-color: #f5a500;
    cursor: pointer;
}

.contenedor-recuadros {
    width: calc(100% - 20px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    box-sizing: border-box;
}

.recuadro-movimiento {
    width: calc(30% - 20px);
    min-height: 300px;
    margin: 10px;
    background-color: #D9D9D9;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
}

.titulo-movimiento {
    font-size: 27px;
    font-family: "Berlin Sans FB";
}

.boton-crear {
    background-color: #59C241;
    color: black;

    height: 100%;
    width: 140px;

    border: 1px solid black;

    font-size: 20px;
    font-weight: bold;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
}

.boton-crear:hover {
    background-color: #4aae3f;
    cursor: pointer;
}

.subtitulo-categorias-actuales {
    font-size: 20px;
    font-weight: bold;
}

.contenedor-tabla-categorias {
    width: calc(100% - 20px);
    margin: 10px;
    box-sizing: border-box;
}

.contenedor-tabla-categorias table {
    width: 100%;
    border-collapse: collapse;
}

.contenedor-tabla-categorias th {
    background-color: #2977BD;
    color: black;
    font-size: 20px;
    border: 1px solid black;
}

.contenedor-tabla-categorias td {
    font-size: 20px;
    border: 1px solid black;
    background-color: white;
    padding: 0;
}

.acciones {
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
}

.boton-actualizar, .boton-eliminar {
    flex: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.boton-actualizar {
    background-color: #F6F88E;
}

.boton-actualizar img {
    width: 40px;
    height: 40px;
}

.boton-actualizar:hover {
    background-color: #eef100;
    cursor: pointer;
}

.boton-eliminar {
    background-color: #FF0000;
}

.boton-eliminar img {
    width: 40px;
    height: 40px;
}

.boton-eliminar:hover {
    background-color: #930404;
    cursor: pointer;
}

