* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .fondo {
    position: relative;
}

.main .fondo img {
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.main .ingreso {
    position: absolute;
    background-color: #ffffff;
    display: flex;
    width: 80%;
    height: 80%;
    border-radius: 15px;
    flex-direction: column;
}

.main .ingreso .titulo img {
    width: 30%;
    padding: 60px 0px 0px 60px;
}

.main .ingreso .content {
    display: flex;
    height: 100%;
    margin-top: 30px;
}

.main .ingreso .left-side {
    display: flex;
    flex: 0.75;
}

.main .ingreso .left-side .ls-content {
    margin-left: 60px;
}

.main .ingreso .left-side .ls-content .cuenta {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}

.main .ingreso .left-side .ls-content .formulario {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
    align-items: center;
    margin-top: 30px;
}

.main .ingreso .left-side .ls-content .formulario div {
    display: flex;
    padding-top: 20px;
    align-items: center;
}

.main .ingreso .left-side .ls-content .formulario label {
    padding-right: 10px;
}

.main .ingreso .left-side .ls-content .formulario input, .main .ingreso .left-side .ls-content .formulario select {
    display: flex;
    padding: 10px 8px 10px 10px;
    width: 300px;
    border-radius: 15px;
    background-color: #BEBBBB;
    border: 1px solid black;
}
.main .ingreso .left-side .ls-content .formulario input:hover, .main .ingreso .left-side .ls-content .formulario select:hover {
    background-color: #bebbbbbb;
}

.main .ingreso .right-side {
    display: flex;
    flex: 0.25;
    justify-content: center;
}

.main .ingreso .saldo {
    height: max-content;
    background-color: #ffcc00;
    padding: 20px 30px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 30px;
}

.main .ingreso .botones {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.main .ingreso .btn-guardar {
    display: flex;
    align-items: center;
    padding: 0px;
    background-color: #59C241;
    margin-right: 60px;
    padding: 10px 40px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 25px;
}
.main .ingreso .btn-guardar:hover {
    background-color: #48a034;
    cursor: pointer;
}
.main .ingreso .btn-cancelar {
    display: flex;
    align-items: center;
    background-color: #F83737;
    margin-right: 60px;
    padding: 10px 40px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 25px;
}
.main .ingreso .btn-cancelar:hover {
    background-color: #db3232;
    cursor: pointer;
}