/* Declarar las fuentes locales */
@font-face {
    font-family: 'Angel Club';
    src: url('../fonts/Angel Club - (Demo) hanscostudio.com.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Smothy Bubble';
    src: url('../fonts/Smothy Bubble - (Demo) hanscostudio.com.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* General */
body {
    margin: 0;
    font-family: 'Angel Club', sans-serif; /* Fuente principal */
    background-color: #443322;
    background-image: url('../img/Fondo.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

/* Contenedor principal */
.contenedor {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro translúcido */
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 1000px;
}

/* Logo */
.logo img {
    width: 300px;
    padding-bottom: 15px;
}

/* Titulo */
.titulo img {
    width: 100%;
    padding-bottom: 15px;
}

/* Frase */
.frase img {
    width: 100%;
    padding-bottom: 25px;
}

/* Formulario */
.formulario {
    padding-top: 15px;
    
}

/* Campo de entrada */
.campo {
    padding-bottom: 20px;
    text-align: left;
}

.campo label {
    display: block;
    font-size: 24px;
    padding-bottom: 5px;
    color: #ffffff;
    font-family: 'Smothy Bubble', sans-serif; /* Fuente personalizada */
}

.campo input {
    width: 97%;
    padding: 15px;
    font-size: 16px;
    font-family: 'Smothy Bubble', sans-serif; /* Fuente personalizada */
    color: #000000;
    border: none;
    border-radius: 5px;
    background-color: #d9d9d9;  
}

/* Placeholder */
.campo input::placeholder {
    font-family: 'Smothy Bubble', sans-serif;
    font-size: 22px;
    color: #555555;
    font-weight: normal;
}

/* Botón */
.boton {
    width: 60%;
    padding: 10px;
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin: 10px auto;
    display: block;
    box-shadow: 2px 2px 4px #00000080;
    font-family: 'Angel Club', sans-serif; /* Fuente personalizada */
}

.boton:hover {
    background-color: #f0f0f0;
    box-shadow: 2px 2px 6px #000000b3;
}
